.header-section {
    height:60px;
    padding-top:15px;
}
.background-blue {
    background-color: #0078D7;
}
.filter-section {
    height:60px;
    padding:20px;
}
.list-section {
    height:500px;
    padding:20px;
    overflow: auto;
}
.padding-right-5 {
    padding-right:5px;
}
.selectedTab {
    background: #fff;
}
.padding-20 {
    padding: 20px;
}
.color-white {
    color: #fff;
}
.text-right {
    text-align: right;
}
.close-icon {
    font-size: 0.7rem;
    margin-top: 3px;
}
.location-icon {
    font-size: 0.7rem;
    margin-top: 3px;
}
.padding-left-10 {
    padding-left:10px;
}
.padding-left-5 {
    padding-left:5px;
}

